nav#navigation-bar-container.navbar.navbar-expand-lg.navbar-light.bg-transparent
            button.navbar-toggler(
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#navbar'
                aria-controls='navbar'
                aria-expanded='false'
                aria-label='Toggle navigation'
                )
                .navbar-toggler-icon
            a.navbar-brand(href='#')= 'Roman\'s Blog'
            #navbar.collapse.navbar-collapse.flex-row-reverse
                ul.nav.navbar-nav
                    li.nav-item
                        a.nav-link.active(href='#')= 'Some text'
                    li.nav-item
                        a.nav-link(href='#')= 'Some text'
                    li.nav-item
                        a.nav-link(href='#')= 'Some text'
                    li.nav-item
                        a.nav-link(href='#')= 'Some text'
